In [61]:
import pandas as pd
netSales1 = pd.DataFrame([[83049,	83044,	86849,	57139, 57546, 60559]], 
                         index = ['netSales'], 
                         columns=['2017','2018','2019','2020','2021','2022'])
netSales1

           2017   2018   2019   2020   2021   2022
netSales  83049  83044  86849  57139  57546  60559

In [62]:

import numpy as np
rateNetSales = netSales1.pct_change(axis = 'columns').dropna(axis = 'columns')
print(rateNetSales.values[0])
sum([rate>0 for rate in rateNetSales.values[0]])

[-6.02054209e-05  4.58190839e-02 -3.42087992e-01  7.12298080e-03
  5.23581135e-02]

3

In [63]:
rateNetSales.values[0].mean()

-0.04736960381064068

In [65]:
grossRateNetSales = (netSales1.iloc[:, 5] - netSales1.iloc[:, 1])/ netSales1.iloc[:, 1]
grossRateNetSales = grossRateNetSales.values[0]
print(grossRateNetSales)

-0.27076007899426807